<%= render  '/layouts/header' %>
<div class="container-fluid">
	<h1>Admin Dashboard</h1>
	<ul>
		<li><%= link_to 'Manage Users' %></li>
		<li><%= link_to 'Manage Posts', admin_posts_path %></li>
	</ul>
</div>