= simple_form_for @preschool do |f|
	=f.input :name
	=f.input :description
	=f.input :address_1
	=f.input :address_2
	=f.input :city
	=f.input :state
	=f.input :zip
	=f.input :phone
	=f.input :director

	= f.label :franchise
	%br
	= f.select :franchise, @franchises.map{ |r| [r.name, r.id] }

	= f.button :submit
